.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: contents; 
}

.user-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; 
    align-items: center; 
}

.user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
}

.formGroup {
    margin-bottom: 15px;
}

.button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton {
    background-color: #009688;
    color: white;
}

.closeButton {
    background-color: #f44336;
    color: white;
}

.edit-button,
.delete-button {
    background-color: #009688; 
    color: white;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #f44336; 
}

.delete-button:hover {
    background-color: #d32f2f;
}

.edit-button:hover {
    background-color: #00796b;
}

.addButton {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #009688; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.addButton:hover {
    background-color: #00796b; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
}

.addButton:active {
    transform: scale(1);
}

.successMessage {
    margin-top: 10px;
    color: #009688; 
}

.button-container {
    display: flex;
    gap: 10px; 
}
